.card {
  padding: 8px;  
  border-radius: 4px;
  margin: 10px;    
  .title {
    line-height: 1.4;
    padding: 4px 8px;
    text-align: center;    
    border-bottom: $dark-border;
    background-color: lighten($darkgray, 5);
    color: #fff;
    &:not(.is-front) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }    
    &.is-front {      
      border: $dark-border;            
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;  
    }    
  }
  .card-footer {
    border-top: $dark-border;
    background-color: lighten($darkgray, 5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; 
    .card-footer-item {
      transition: $transition;
      &:hover {
        color: $gray;
      }
    }
  }
  .image {    
    border-bottom: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;        
    img {
      border-radius: 4px;      
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;        
    }
  }
  .media-content {
    background-color: $darkgray;    
    color: #fff;
    border: $dark-border;
    border-radius: 4px;
  }
}
.container {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
  min-width: 100%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 480px) {
  .card {
    min-width: 90%;  
    max-width: 90%;
  }
}
@media screen and (max-width: 1192px) and (min-width: 480px) {
  .card {
    min-width: 45%;  
    max-width: 45%;
  }
}
@media screen and (min-width: 1192px) {
  .card {
    min-width: 15%;  
    max-width: 15%;
  }
}
.control:not(:last-child) {
  margin-bottom: 0;
}
.search-box {
  padding: 8px;  
  background-color: $gray;
  border-bottom: $default-border;
  border-radius: 4px;    
  min-height: 58px;
  .input {
    transition: $transition;
    font-size: 1.3em;
    box-shadow: none;
    &[type=search] {
      border-radius: 4px;
    }
    &:focus, &:hover {
      border-color: darken($gray, 15);
    }    
  }
  i.fa {
    margin-top: 10px;
    margin-left: 12px;
    transition: $transition;
  }
}
.count-label {
  margin-left: 8px;
  border-radius: 4px;
  height: 41px;
  i.fa {
    margin-top: -2px;
    margin-right: 8px;
    margin-left: 0;
  }
}